body, .theme-dark, .theme-light {
    --background-primary: #242424;
    --background-secondary: #252526;
    --background-tertiary: #333333;
}

.container-ZMc96U.themed-Hp1KC_ {
    background-color: #007acc;
}

.theme-dark .children-3xh0VB::after {
    background: none;
}

.theme-light .children-3xh0VB::after {
    background: none;
}